<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:ref="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <h1> INICIO DE SESIÓN </h1>
    <form method="post">
        <label>Nombre de usuario</label><br>
        <input type="text" name="nombreUsuario"><br>
        <label>Contraseña</label><br>
        <input type="password" name="password"><br>
        <button type="submit">Entrar</button>
    </form>

</body>
</html>